@{

    Layout = "";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Restaurante")
        </th>
        <th>
            @Html.DisplayName("Local")
        </th>
        <th>
            @Html.DisplayName("Tipo Comida")
        </th>
        <th>
            @Html.DisplayName("Capacidad Mesas")
        </th>        
        <th>
            @Html.DisplayName("Mesas Reservadas")
        </th>
        <th>
            @Html.DisplayName("Mesas Disponibles")
        </th>
        <th>Acción</th>
    </tr>

    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_FACTURAVENTA)
                </td>
                <td>
                    @Html.Label(item.CLIENTE.PERSONA.NOMBRE + " " + item.CLIENTE.PERSONA.APELLIDO)
                </td>
                <td>
                    @Html.Label(item.CLIENTE.PERSONA.NUMEROIDENTIFICACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAVENTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBTOTALFACTURASINIVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBTOTALFACTURAIVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VALORIVAFACTURA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTALFACTURA)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "GenerarNotaCredito") |
                    @Html.ActionLink("Eliminar", "ResumenFacturaVenta")
                </td>
            </tr>
        }*@

    <tr>
        <td>
            @Html.Label("Restaurante 1")
        </td>
        <td>
            @Html.Label("Local 1")
        </td>
        <td>
            @Html.Label("Cena")
        </td>
        <td>
            @Html.Label("5")
        </td>
        <td>
            @Html.Label("3")
        </td>
        <td>
            @Html.Label("3")
        </td>
        <td>
            <a href="#">Detalle</a>         
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Restaurante 1")
        </td>
        <td>
            @Html.Label("Local 1")
        </td>
        <td>
            @Html.Label("Brunch")
        </td>
        <td>
            @Html.Label("15")
        </td>
        <td>
            @Html.Label("5")
        </td>
        <td>
            @Html.Label("3ñ")
        </td>
        <td>
            <a href="#">Detalle</a>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Restaurante 1")
        </td>
        <td>
            @Html.Label("Local 1")
        </td>
        <td>
            @Html.Label("Cena")
        </td>
        <td>
            @Html.Label("5")
        </td>
        <td>
            @Html.Label("3")
        </td>
        <td>
            @Html.Label("3")
        </td>
        <td>
            <a href="#">Detalle</a>
        </td>
    </tr>

</table>

