
@{
    ViewBag.Title = "Crear Reserva Manual";

    List<SelectListItem> listaRestaurantes = new List<SelectListItem>(){

    new SelectListItem
    {
        Text = "Matriz",
        Value = "Matriz"
    }
    ,
    new SelectListItem
    {
        Text = "Sucursal 1",
        Value = "Sucursal 1"
    }
    };

    List<SelectListItem> listaNumeros = new List<SelectListItem>(){

    new SelectListItem
    {
        Text = "1",
        Value = "1"
    }
    ,
    new SelectListItem
    {
        Text = "2",
        Value = "2"
    }
    ,
    new SelectListItem
    {
        Text = "3",
        Value = "3"
    }
    ,
    new SelectListItem
    {
        Text = "4",
        Value = "4"
    }
    ,
    new SelectListItem
    {
        Text = "5",
        Value = "5"
    }
    ,
    new SelectListItem
    {
        Text = "2",
        Value = "2"
    }
    };

}

<h2>Crear Reserva Manual</h2>

@{
    if (TempData["mensajeExitoso"] != null)
    {
        <div class="alert alert-success">
            <p>
                @TempData["mensajeExitoso"]
            </p>
        </div>
    }
    else if (TempData["mensajeError"] != null)
    {
        <div class="alert alert-danger">
            <p>
                @TempData["mensajeError"]
            </p>
        </div>
    }
}
@using (Html.BeginForm("CrearCrearReservaManual", "Reserva", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Ajax.BeginForm("BuscarPersonaPorIdentificacion", "Cliente", null,
                                                     new AjaxOptions
                                                     {
                                                         HttpMethod = "Post",
                                                         UpdateTargetId = "cargarDatosCliente_Ajax",
                                                         LoadingElementId = "image_loading",
                                                         InsertionMode = InsertionMode.Replace,
                                                         OnSuccess = "enviarIdPersona"
                                                     }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                @Html.Label("Identificación Cliente (*)", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("IdenficacionCliente", new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
                <div class="col-lg-1">
                    <input type="submit" class="btn btn-success" value="Buscar" />
                </div>
            </div>
        }
        <div class="form-group">
            <div class="row">
                <div id="cargarDatosCliente_Ajax"></div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Fecha Reserva", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("FechaReserva", new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Número Comensales:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NumeroComensales", listaNumeros, "Seleccionar", new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Restaurante/Local", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NombreRestaurante", listaRestaurantes, "Seleccionar", new { @class = "form-control", @required = "required" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Regresar", "BuscarFacturaProveedor", null, htmlAttributes: new { @class = "btn btn-default" })
                <input type="submit" value="Ingresar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $('#FechaReserva').datetimepicker({
        format: 'dd/mm/yyyy',  
        autoclose: true,
        language: 'es',
        todayHighlight: true
    });
</script>
