
@{
    ViewBag.Title = "Buscar Local";
    List<SelectListItem> listaRestaurantes = new List<SelectListItem>(){

    new SelectListItem
    {
        Text = "Restaurante1",
        Value = "Matriz"
    }
    ,
    new SelectListItem
    {
        Text = "Restaurante1",
        Value = "Sucursal 1"
    }
    };
}

<h2>Buscar Reservas</h2>

@{
    if (TempData["mensajeExitoso"] != null)
    {
        <div class="alert alert-success">
            <p>
                @TempData["mensajeExitoso"]
            </p>
        </div>
    }
    else if (TempData["mensajeError"] != null)
    {
        <div class="alert alert-danger">
            <p>
                @TempData["mensajeError"]
            </p>
        </div>
    }
}
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Búsqueda todos</h5>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    @using (Ajax.BeginForm("BuscarLocalesTodos", "Local", null,
new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "cargarListaLocales_Ajax",
    LoadingElementId = "image_loading",
    InsertionMode = InsertionMode.Replace
}, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-error" })
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Buscar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Búsqueda por restaurante</h5>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    @using (Ajax.BeginForm("buscarLocalPorRestaurante", "Local", null,
new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "cargarListaLocales_Ajax",
    LoadingElementId = "image_loading",
    InsertionMode = InsertionMode.Replace
}, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-error" })
                        <div class="form-group">
                            @Html.Label("Restaurante/Local", new { @class = "control-label" })
                            @Html.DropDownList("NombreRestaurante", listaRestaurantes, "Seleccionar", new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Buscar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <img id="image_loading" src="~/Imagenes/loading.gif" width="30" height="30" style="display:none" />
</div>
<div id="cargarListaLocales_Ajax"></div>
